<div class="row text-center">
  <div class="card col-sm">
    <a href="/cakes">
      <img class="card-img-top img-fluid" src="assets/images/cakes-index.jpeg" alt="Cakes">
    </a>
    <div class="card-body">
        <h5 class="card-title">Cakes</h5>
    </div>
  </div>
  <div class="card col-sm">
    <a href="/cookies">
      <img class="card-img-top img-fluid" src="assets/images/cookies-index.jpg" alt="Cookies">
    </a>
    <div class="card-body">
      <h5 class="card-title">Cookies</h5>
    </div>
  </div>
  <div class="card col-sm">
    <a href="/muffins">
      <img class="card-img-top img-fluid" src="assets/images/muffins-index.jpg" alt="Muffins">
    </a>
    <div class="card-body">
        <h5 class="card-title">Muffins</h5>
    </div>
  </div>
</div>
