<div class="row text-center">
  <div class="card col-lg-4 col-md-6 border-0 mb-3">
    <a href="/cakes">
      <img class="card-img-top img-fluid rounded-bottom" src="assets/images/cakes-index.jpeg" alt="Cakes">
    </a>
    <div class="card-body">
        <h5 class="card-title text-uppercase font-weight-bold">Cakes</h5>
    </div>
  </div>
  <div class="card card col-lg-4 col-md-6 border-0 mb-3">
    <a href="/cookies">
      <img class="card-img-top img-fluid rounded-bottom" src="assets/images/cookies-index.jpg" alt="Cookies">
    </a>
    <div class="card-body">
      <h5 class="card-title text-uppercase font-weight-bold">Cookies</h5>
    </div>
  </div>
  <div class="card card col-lg-4 col-md-6 border-0 mb-3">
    <a href="/muffins">
      <img class="card-img-top img-fluid rounded-bottom" src="assets/images/muffins-index.jpg" alt="Muffins">
    </a>
    <div class="card-body">
        <h5 class="card-title text-uppercase font-weight-bold">Muffins</h5>
    </div>
  </div>
</div>
