body {
  padding: 150px 0;
}

@media (min-width: 576px) {
  .card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
  }
  .fa {
    padding: 15px;
    font-size: 25px;
    width: 25px;
  }
  .fa:hover {
    color: #4c8387;
  }
}

@media (min-width: 1000px) {
  .navbar-nav > li > a {
    line-height: 70px;
  }
  .navbar-nav > li > a i {
    line-height: 55px;
  }
}

.fa {
  color: #70ABAF;
}

.list-group > a {
  color: #70ABAF;
}

.list-group > a:hover {
  color: #4c8387;
}
